.landingwrapper {
  max-width: 970px;
  min-width: 800px;
  height: 450px;
  max-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 30px;

}

.landingsubwrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
