.lviewer_wrapper {
  /* width: 100%; */
  max-width: 500px;
  flex: 1;
}

.lviewer_subwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lviewer_subwrapper .drop_zone {
  border: 2px dashed #f3f3f3;
  padding: 20px 40px;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
}

.lviewer_subwrapper .drop_zone:hover {
  opacity: 0.5;
}
.lviewer_subwrapper .upload_widget_title {
}

.lviewer_subwrapper .icon_upload {
  max-width: 100%;
}

.lviewer_subwrapper .icon_upload img {
}
