:root {
  /* Application main color */
  --app-color-code: #4267b2;
  --animation-color: dodgerblue;
  --common-header-size: 45px;
  --common-line-switching: 45px;
  --overlay-global-index: 100;
  --popup-global-index: 105;

  /* Color global variables */
  --line-animation-color: var(--app-color-code);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
  /* background-color: #F5F5F5; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background: #fff;  */
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
