:root {
  /* Application main color */
  --app-color-code: #4267b2;
  --animation-color: dodgerblue;
  --common-header-size: 45px;
  --common-line-switching: 45px;
  --overlay-global-index: 100;
  --popup-global-index: 105;
  --common-mobile-font: 15px;
  /* Height variables */
  --searchpopup-component: 400px;
  /* Color global variables */
}

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  /* font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif; */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
  /* background-color: #F5F5F5; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background: #fff;  */
}
a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  body {
    box-sizing: border-box;
    max-width: 100%;
    /* font-family: "Inter", sans-serif; */
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
    font-size: 16px;
    overflow: hidden;
  }
}
