.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: var(--overlay-global-index); /* Place overlay above other elements */
  opacity: 0;
  transition: opacity 300ms;
}

.popup_content {
  background: #fff;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
