.alert_strip_container {
  background-color: #f1f1f1;
  height: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  width: 28%;
  right: 3%;
  bottom: 5%;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  z-index: calc(var(--overlay-global-index) - 10);
}

.alert_strip_container .paalert_container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.alert_strip_container .paalert_container .content_block {
  margin-left: 10px;
  line-height: 1.5;
  width: 250px;
}
.alert_strip_container .paalert_container .pa_icon {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert_strip_container .paalert_container .alert_con1 {
  max-width: 200px;
  overflow: hidden;
}
.alert_strip_container .paalert_container .alert_con2 {
   font-size: 12px;
   color: white;
}


.strip_active_animation {
  opacity: 1;
  pointer-events: all;
}

.alert_strip_container span {
  font-size: 13px;
  opacity: 0.9;
  color: white;
  font-weight: 600;
  animation: display_strip_content 400ms ease-in-out forwards;
  animation-delay: 0.8s;
}
