.popup_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 12px 15px 12px;
}

.content_heading {
  font-size: 22px;
  font-weight: 700;
}

.closepart {
  padding: 8px;
  display: flex;
  background: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}

.popup_content.close_animation {
  transform: translateY(100%);
}

.popup_content.close_animation_active {
  transform: translateY(0%);
}
