.model_profile {
  padding: 8px;
  width: auto;
  height: auto;
  display: flex;
  background-color: var(--app-color-code);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: 13px;
  opacity: 0.9;

}

.model_profile:hover {
  opacity: 0.8;
}
