.reste_container {
  padding: 2px 12px 10px 12px;
  max-width: 360px;
}

.sub_reset_container .reset_headline {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  padding: 10px 0px;
  color: rgb(235, 87, 87);
}

.sub_reset_container .text_line p {
  font-size: 14px;
  padding: 5px 0px 18px 0px;
  color: #37352f;
  line-height: 1.5;
  font-weight: 500;
}

@media only screen and (max-width: 550px) {
  .reste_container {
    max-width: 100%;
  }
}
