.splashwrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splashwrapper .splassubhwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splashwrapper .splassubhwrapper img {
  width: 433px;
  height: 109px;
}
