.lhs_content_wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  /* position: relative; */
}

.lhs_content_wrapper .lhs_loading_indicator {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
