.rhs_chat_content {
  height: inherit;
}
.rhs_chat_content .middle_wrapper_messages {
  overflow-y: auto;
  max-height: calc(100% - calc(var(--common-header-size) + 15px));
  padding: 0px 10px;
  height: 100%;
}

/* Mobile set View */

@media only screen and (max-width: 650px) {
  .rhs_chat_content .middle_wrapper_messages {
    max-height: calc(
      100% - calc(var(--common-header-size) + var(--common-header-size) + 10px)
    );
  }

  .chatinput_wrapper {
    bottom: 0px !important;
  }
}
