.rhs_header_wrapper {
  border-bottom: 1px solid #eee;
  width: 100%;
  /* background-color: red; */
  height: var(--common-header-size);
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.rhs_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: 100%;
  padding-right: 10px;
}

.rhs_header_content .document_intro {
  display: flex;
  align-items: center;
  flex-basis: 230px;
  overflow: hidden;
  min-width: 200px;
}

.rhs_header_content .document_intro .document_intro_svg {
  background: #f1f1f1;
  padding: 5px;
  border-radius: 5px;
}
.spaecialtab {
  height: 30px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background: dodgerblue;
}
.spaecialtab:hover {
  opacity: 0.8;
}
.spaecialtab span {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.rhs_header_content .document_intro .back {
  width: 28px;
  height: 28px;
  display: block;
  fill: rgba(55, 53, 47, 0.35);
  flex-shrink: 0;
  padding: 5px;
  transition: transform 200ms ease-out 0s;
  transform: rotateZ(90deg);
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
}

.rhs_header_content .document_intro .lhsreopensvg {
  opacity: 0;
  transform: translateX(-100%);
}

.rhs_header_content .document_intro .back:hover {
  background-color: #f1f1f1;
}
.rhs_header_content .document_intro h4 {
  font-weight: 600;
  font-size: 14px;
  color: #37352f;
}
.rhs_header_content .document_intro span {
  font-size: 12px;
  font-weight: 500;
  color: rgb(107, 107, 107);
}
.rhs_header_content h2 {
  font-size: 15px;
  color: #37352f;
}

.rhs_header_content .g_header_navbar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  position: relative;
  flex: 1;
}

.rhs_header_content .g_header_navbar_wrapper .dropdown_block {
  height: 30px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rhs_header_content .g_header_navbar_wrapper .dropdown_block:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* .tabbreaker {
    border-right: 1px solid #eee;
} */

.rhs_header_content
  .g_header_navbar_wrapper
  .dropdown_block
  .dropdown_block_heading {
  cursor: pointer;
  /* height: inherit; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #1d1d1f;
  font-size: 12px;
  /* min-width: 65px; */
  letter-spacing: 0.02em;
  line-height: 1;
  margin: 0 5px;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
}

.overlay {
  background: rgba(232, 232, 237, 0.4);
  /* background: rgba(0, 0, 0, .4); */
  -webkit-backdrop-filter: blur(20px) saturate(120%);
  backdrop-filter: blur(20px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  transition: opacity 1.72s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
    visibility 1.3s ease-in;
  /* transition: opacity .4s ease, visibility 4s */
}

.active_overlay {
  /* display: block !important; */
  visibility: visible !important;
  opacity: 0.9 !important;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms, visibility 0.32s !important;
}

.nav_flyers_inner_wrapper {
  position: absolute;
  top: cal(var(--g-nav-height) - 10px);
  left: 0;
  right: 0;
  background-color: #fbfbfa;
  max-height: 0px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(18px) saturate(10%);
  transition: max-height 200ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 150ms, visibility 100ms;
}

.nav_flyer_active {
  max-height: calc(100vh - 20vh);
  visibility: visible;
  opacity: 1;
  transition: max-height 260ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 320ms, visibility 300ms;
}

.nav_flyers_inner_wrapper .nav_flyer_inner_sub_wrapper {
  width: var(--global-nav-width);
  max-width: var(--global-nav-width);
  padding: 38px 20px 50px 20px;
}

.includes_options_to_show {
  display: none;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
}

@media only screen and (max-width: 800px) {
  .rhs_header_content .g_header_navbar_wrapper,
  .t_section {
    display: none;
  }

  .includes_options_to_show {
    display: flex;
  }
}
