.rhs_content_wrapper {
  height: 100%;
  position: relative;
}

.rhs_content_wrapper .main_rhs_content {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--common-header-size));
}

.chat_section,
.document_viewer {
  flex: 1 1;
  border-right: 1px solid #eee;
  /* margin: 0px 5px; */
  position: relative;
  height: 100%;
}

.document_viewer .doc_viewercontainer {
  overflow-y: auto;
  /* padding: 0px 10px; */
  overflow-y: auto;
  height: calc(100% - 5px);
}

.collapsableblock {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: -1%;
  z-index: 10;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 3px 7px 7px #f1f1f1;
}

/*  Mobile View set  */

@media only screen and (max-width: 650px) {
  .rhs_content_wrapper .main_rhs_content {
    display: block;
  }
}
