.rhs_content_wrapper {
  height: 100%;
}

.rhs_content_wrapper .main_rhs_content {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--common-header-size));
}

#chat_section,
#document_viewer {
  flex: 1 1;
  border-right: 1px solid #eee;
  /* margin: 0px 5px; */
  position: relative;
  height: 100%;
}

#document_viewer .doc_viewercontainer {
  overflow-y: auto;
  /* padding: 0px 10px; */
  overflow-y: auto;
  height: calc(100% - 5px);
}
