.rhs_content_wrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rhs_content_wrapper .main_rhs_content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.chat_section,
.document_viewer {
  flex: 1;
  border-right: 1px solid #eee;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.document_viewer .doc_viewercontainer {
  /* padding: 0px 10px; */
  height: calc(100% - 5px);
}

/*  Mobile View set  */

@media only screen and (max-width: 650px) {
  .rhs_content_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 45px;
  }
  .chat_sectionspec {
    /* display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    overflow: hidden; */
  }
  .document_viewer {
    display: none;
  }
  .rhs_content_wrapper .main_rhs_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
}
